{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <h1>{{ site.Params.error_404_text }}</h1>
        <a href="{{site.BaseURL | relLangURL}}" class="btn btn-primary">{{ site.Params.error_404_button }}</a>
      </div>
    </div>
  </div>

  <br>
  <div class="container">
    <div class="row">
      <table>
        <thead>
          <tr>
            <th>{{ site.Params.error_404_requesturl }}</th>
            <th>{{ site.Params.error_404_newurl }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td id="request_url">
              <!-- Initially set to empty. JavaScript will fill this -->
            </td>
            <td id="redirect_link">
              <!-- Initially set to empty. JavaScript will fill this -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

{{ end }}